<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" ng-app="MSAAgency"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8" ng-app="MSAAgency"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" ng-app="MSAAgency"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10" ng-app="MSAAgency"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="MSAAgency"> <!--<![endif]-->
<head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="<%= image_path('favicon.ico') %>">
    <title>McDonald / Selznick Agency</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body ng-controller="AppController as AppCtrl" ng-strict-di>

    <div ui-view>
        <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script>
        $(document).ready(() => {
            $(".fancybox").fancybox({
                helpers : { media: true },
                youtube : { autoplay: 1 }
            });
        });
    </script>
    <script type="text/javascript">var switchTo5x = true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "0a009777-6595-49f2-b6b6-3e23bbf1b829", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</body>
</html>
